.header {
    margin: 0 20px;
    display: flex;
    background-color: #3DEC00;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header .logo {
}

.header .navigation {
    display: flex;
    gap: 80px;
}