.header {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 5px 20px gray;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
    font-weight: 600;
}

.Logo p {
    margin: 0;
}

.logo {
    width: 100px;
    border-radius: 90%;
}

.header .navigation {
    display: flex;
    gap: 80px;
}