.header {
    display: flex;
    background-color: #3DEC00;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px 40px;
    border-radius: 5px;
}
.logo {
    width: 100px;
    border-radius: 90%;
}

.header .navigation {
    display: flex;
    gap: 80px;
}