.footer {
    display: flex;
    background-color: #fff;
    justify-content: left;
    font-size: 12px;
    color: gray;
    opacity: .8;
    align-items: center;
    border-top: 2px solid #3DEC00;
    min-height: 40px;
}

.footer section {
    margin-left: 12px;
}